* {
    margin: 0;
    padding: 0;
    background-color: #ededed;
    color: black;
}

#h1Elem{
    font-size: 2rem;
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

#pElem{
    text-align: center;
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#questionsContainer{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}